@import '~hamburgers/dist/hamburgers.css';

.nav-link:hover {
    font-weight: bold;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

@media (min-width: 992px) {
    .navbar-toggler {
        display: none;
    }

    .navbar-collapse {
        display: flex;
        justify-content: center;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .navbar-nav .nav-item {
        margin-right: 15px;
        margin-left: 15px;
    }

}