@import '~hamburgers/dist/hamburgers.css';

nav {
    background-color: #13005A !important;
}

.nav-link:hover {
    font-weight: bold;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-item a {
    color: #ffffff;
    font-size: 20px;
}

.hamburger-inner,
.hamburger-inner[_ngcontent-ng-c2735785797]::before,
.hamburger-inner[_ngcontent-ng-c2735785797]::after,
.hamburger.is-active[_ngcontent-ng-c2735785797] .hamburger-inner[_ngcontent-ng-c2735785797],
.hamburger.is-active[_ngcontent-ng-c2735785797] .hamburger-inner[_ngcontent-ng-c2735785797]::before,
.hamburger.is-active[_ngcontent-ng-c2735785797] .hamburger-inner[_ngcontent-ng-c2735785797]::after {
    background-color: #fff;
}

@media (min-width: 992px) {
    .navbar-toggler {
        display: none;
    }

    .navbar-collapse {
        display: flex;
        justify-content: center;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .navbar-nav .nav-item {
        margin: 0 15px;
    }

}