<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="assets/sft2.png" alt="logo" width="40">
        </a>
        <button class="navbar-toggler hamburger hamburger--slider" type="button" (click)="active=!active"
            [ngClass]="active ? 'is-active' : ''" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#nosotros">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#webm">Web & Mobile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sistems">Sistemas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scrum">Our Work Metology</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contacto">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>