<div class="timeline pt-5">

	<div class="timeline__event animated fadeInUp delay-3s timeline__event--type1" data-aos="fade-right" data-aos-duration="1000">
		<div class="timeline__event__icon ">
			<!-- <i class="lni-sport"></i>-->
		</div>
		<div class="timeline__event__date">
			#1
		</div>
		<div class="timeline__event__content ">
			<div class="timeline__event__title">
				Super Mario Brothers
			</div>
			<div class="timeline__event__description">
				<p>Nos reunimos contigo para ver los requerimientos...</p>
			</div>
		</div>
	</div>

	<div class="timeline__event animated fadeInUp delay-2s timeline__event--type2" data-aos="fade-left" data-aos-duration="1000">
		<div class="timeline__event__icon">
			<!-- <i class="lni-sport"></i>-->
		</div>
		<div class="timeline__event__date">
			#2
		</div>
		<div class="timeline__event__content">
			<div class="timeline__event__title">
				Super Mario Bros: The Lost Levels
			</div>
			<div class="timeline__event__description">
				<p>Creamos un Document Backlog con los requerimientos acordados...</p>
			</div>
		</div>
	</div>

	<div class="timeline__event animated fadeInUp delay-1s timeline__event--type3" data-aos="fade-right" data-aos-duration="1000">
		<div class="timeline__event__icon">
			<!-- <i class="lni-sport"></i>-->
		</div>
		<div class="timeline__event__date">
			#3
		</div>
		<div class="timeline__event__content">
			<div class="timeline__event__title">
				Super Mario Bros. 2
			</div>
			<div class="timeline__event__description">
				<p>3# Creamos Sprints de trabajo</p>
			</div>
		</div>
	</div>

	<div class="timeline__event animated fadeInUp timeline__event--type1" data-aos="fade-left" data-aos-duration="1000">
		<div class="timeline__event__icon">
			<!-- <i class="lni-sport"></i>-->
		</div>
		<div class="timeline__event__date">
			#4
		</div>
		<div class="timeline__event__content">
			<div class="timeline__event__title">
				Super Mario Bros. 3
			</div>
			<div class="timeline__event__description">
				<p>4# Calculamos el tiempo en relación a las tareas a realizar y las distribuimos en cada Sprint</p>
			</div>
		</div>
	</div>

	<div class="timeline__event  animated fadeInUp delay-3s timeline__event--type2" data-aos="fade-right" data-aos-duration="1000">
		<div class="timeline__event__icon ">
			<!-- <i class="lni-sport"></i>-->
		</div>
		<div class="timeline__event__date">
			#5
		</div>
		<div class="timeline__event__content ">
			<div class="timeline__event__title">
				Super Mario Land
			</div>
			<div class="timeline__event__description">
				<p>5# ¡Diseñamos tu idea y le damos un toque mágico!</p>
			</div>
		</div>
	</div>

	<div class="timeline__event animated fadeInUp delay-2s timeline__event--type3" data-aos="fade-left" data-aos-duration="1000">
		<div class="timeline__event__icon">
			<!-- <i class="lni-sport"></i>-->
		</div>
		<div class="timeline__event__date">
			#6
		</div>
		<div class="timeline__event__content">
			<div class="timeline__event__title">
				Super Mario World
			</div>
			<div class="timeline__event__description">
				<p>6# Desarrollamos un Producto Minimo Viable (MVP)</p>
			</div>
		</div>
	</div>

	<div class="timeline__event animated fadeInUp delay-1s timeline__event--type1" data-aos="fade-right" data-aos-duration="1000">
		<div class="timeline__event__icon">
			<!-- <i class="lni-sport"></i>-->
		</div>
		<div class="timeline__event__date">
			#7
		</div>
		<div class="timeline__event__content">
			<div class="timeline__event__title">
				Super Mario Land: 6 Golden Coins
			</div>
			<div class="timeline__event__description">
				<p>7# ¡Y vamos a Producción!</p>
			</div>
		</div>
	</div>

</div>