<div class="scrum container d-flex justify-content-center" data-aos="fade-down" data-aos-duration="1000">
	<p>En Soft Tech Solutions, utilizamos la metodología Scrum para gestionar nuestros proyectos. Scrum es un marco de trabajo ágil que se basa en el trabajo en equipo, la colaboración y la transparencia.
	</p>
</div>

<div class="timeline pt-5">
	<div class="timeline__event animated fadeInUp delay-3s timeline__event--type1" data-aos="fade-right" data-aos-duration="1000">
		<div class="timeline__event__icon ">
			<!-- <i class="lni-sport"></i>-->
		</div>
		<div class="timeline__event__date">
			#1
		</div>
		<div class="timeline__event__content ">
			<div class="timeline__event__title">
				Trabajamos mano a mano con nuestros clientes:
			</div>
			<div class="timeline__event__description">
				<p>Mantener la transparencia en todo el proceso de un proyecto es fundamental para nosotros. Por eso el primer paso es poder entender y abstraer el enfoque  de nuestros clientes convirtiéndose en la piedra angular de una gestión eficaz y eficiente.</p>
			</div>
		</div>
	</div>

	<div class="timeline__event animated fadeInUp delay-2s timeline__event--type2" data-aos="fade-left" data-aos-duration="1000">
		<div class="timeline__event__icon">
			<!-- <i class="lni-sport"></i>-->
		</div>
		<div class="timeline__event__date">
			#2
		</div>
		<div class="timeline__event__content">
			<div class="timeline__event__title">
				Planificación del Sprint:
			</div>
			<div class="timeline__event__description">
				<p>Scrum (Nuestro equipo) se reune para planificar el trabajo que se realizará en el siguiente sprint, que es un periodo de tiempo corto, generalmente de dos semanas. De esta manera construimos una pila o lista de tareas a realizar para poder entregar lo más rapidamente posible un producto funcional.</p>
			</div>
		</div>
	</div>

	<div class="timeline__event animated fadeInUp delay-1s timeline__event--type3" data-aos="fade-right" data-aos-duration="1000">
		<div class="timeline__event__icon">
			<!-- <i class="lni-sport"></i>-->
		</div>
		<div class="timeline__event__date">
			#3
		</div>
		<div class="timeline__event__content">
			<div class="timeline__event__title">
				Desarrollo de Sprint:
			</div>
			<div class="timeline__event__description">
				<p>Durante el sprint el equipo trabaja en las tareas que se planificaron. El equipo se reune diariamente para realizar una reunión de Scrum, en la que se discute el progreso, se identifican los obstáculos y se hacen los ajustes necesarios.</p>
			</div>
		</div>
	</div>

	<div class="timeline__event animated fadeInUp timeline__event--type1" data-aos="fade-left" data-aos-duration="1000">
		<div class="timeline__event__icon">
			<!-- <i class="lni-sport"></i>-->
		</div>
		<div class="timeline__event__date">
			#4
		</div>
		<div class="timeline__event__content">
			<div class="timeline__event__title">
				Revisión del Sprint:
			</div>
			<div class="timeline__event__description">
				<p>Al final de cada sprint, el equipo se reune para revisar el trabajo que se completó. En esta reunión el equipo presenta el incremento de valor al producto, tanto al acliente como a los interesados.</p>
			</div>
		</div>
	</div>

	<div class="timeline__event  animated fadeInUp delay-3s timeline__event--type2" data-aos="fade-right" data-aos-duration="1000">
		<div class="timeline__event__icon ">
			<!-- <i class="lni-sport"></i>-->
		</div>
		<div class="timeline__event__date">
			#5
		</div>
		<div class="timeline__event__content ">
			<div class="timeline__event__title">
				Retrospectiva del Sprint:
			</div>
			<div class="timeline__event__description">
				<p>El equipo de Scrum se reúne para reflexionar sobre el sprint anterior. En esa reunión, el equipo identifica lo que salió bien, lo que podría mejorarse y cómo se puede aplicar estos aprendizajes al siguiente sprint.</p>
			</div>
		</div>
	</div>
</div>