.sistems {
    font-size: 13px;
    text-align: center;
    padding-top: 70px;
}

.carousel {
    height: 700px;
}

@media (max-width: 767px) {
    .carousel {
        height: 350px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .carousel {
        height: 500px;
    }
  }
  