<div class="sistems" data-aos="fade-down" data-aos-duration="1000">
	<p>Creamos Sistemas sólidos y escalables para tu empresa</p>
</div>

<div class="carousel pt-5" data-aos="fade-right">
	<ngb-carousel #carousel [interval]="3000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus"
		[showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
		<ng-template ngbSlide *ngFor="let img of images; index as i">
			<img style="height: 100%; width: 100%;" [src]="img" alt="" />
		</ng-template>
	</ngb-carousel>
</div>