<div class="sistems" data-aos="fade-down" data-aos-duration="1000">
	<p>Creamos Sistemas sólidos y escalables para tu empresa</p>
	<div class="dec-left"></div>
</div>

<div id="about" class="about-us section pb-5" data-aos="fade-up">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 align-self-center">
				<div class="section-heading">
					<h4>Lleva tu Gestión Empresarial al siguiente nivel con <em>Nuestro Sistema Estrella</em></h4>
					<img src="assets/heading-line-dec.png" alt="">
					<p>Nuestro sistema de gestión ofrece una solución integral para simplificar y optimizar tus procesos
						empresariales.</p>
				</div>
				<div class="row secciones">
					<div class="col-lg-6" data-aos="fade-down">
						<div class="box-item">
							<h5>Punto de venta</h5>
							<p>Optimiza tus ventas de manera intuitiva y ágil, facilitando transacciones y control de
								inventario en tiempo real.</p>
						</div>
					</div>
					<div class="col-lg-6" data-aos="fade-down">
						<div class="box-item">
							<h5>Gestión de Compras</h5>
							<p>Toma el control total de tus adquisiciones. Simplifica y agiliza, desde la solicitud
								hasta la gestión eficiente del inventario.</p>
						</div>
					</div>
					<div class="col-lg-6" data-aos="fade-down">
						<div class="box-item">
							<h5>Control de Entregas</h5>
							<p>Te ofrecemos un manejo integral y preciso de la logística de tu negocio. Desde la
								planificación y seguimiento hasta la confirmación de recepción.</p>
						</div>
					</div>
					<div class="col-lg-6" data-aos="fade-down">
						<div class="box-item">
							<h5>Gestión de Créditos</h5>
							<p>Optimiza y supervisa de manera eficiente todos los aspectos relacionados con la concesión
								y seguimiento de créditos.</p>
						</div>
					</div>
					<div class="col-lg-6" data-aos="fade-down">
						<div class="box-item">
							<h5>Gestión de Cajas y Bancos</h5>
							<p>Facilita el control detallado y eficiente de los flujos financieros de tu empresa. Desde
								el registro de transacciones hasta la conciliación bancaria.</p>
						</div>
					</div>
					<div class="col-lg-6" data-aos="fade-down">
						<div class="box-item">
							<h5>Administración de Personal</h5>
							<p>Nuestra solución te proporciona una gestión integral y eficaz de los recursos humanos de
								tu empresa.</p>
						</div>
					</div>
					<div class="col-lg-12" data-aos="fade-down">
						<p>Con nuestro sistema, la personalización es clave: configura a tu medida para maximizar la
							eficiencia. Además, nuestro equipo de soporte está siempre disponible para asegurar que tu
							experiencia sea óptima y libre de complicaciones.</p>
						<!-- <div class="gradient-button">
							<a href="https://wa.me/+5492645748636">Quiero Probarlo!</a>
						</div> -->
						<!-- <span>*No Credit Card Required</span> -->
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="cont-img d-flex justify-content-center align-items-center">
					<div class="right-image" data-aos="fade-down">
						<img class="img-fluid" src="assets/post_sistema.gif" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="carousel pt-5" data-aos="fade-right">
	<ngb-carousel #carousel [interval]="3000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus"
		[showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
		<ng-template ngbSlide *ngFor="let img of images; index as i">
			<img style="height: 100%; width: 100%;" [src]="img" alt="" />
		</ng-template>
	</ngb-carousel>
</div>