.sistems {
    padding: 70px 0 70px 0;
    color: #13005A;
    text-align: center;
    font-size: 45px;
    font-weight: 900;
    text-transform: uppercase;
}

.carousel {
    height: 700px;
}

@media (max-width: 767px) {
    .carousel {
        height: 350px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .carousel {
        height: 500px;
    }
}