<div class="services" data-aos="fade-down" data-aos-duration="1000">
	<p>¿cuáles son nuestros servicios?</p>
</div>

<div class="tec" data-aos="fade-right">
	<div class="text">
		<p>
			Brindamos a nuestros clientes distintas opciones de desarrollo ajustadas a sus necesidades
			<br>
			Integramos la mejor tecnología para crear experiencias de usuarios intuitivas y eficientes
		</p>
	</div>
	<div class="contenedor">
	</div>
	<div class="cont-servi container">
		<div class="bloque" data-aos="fade-down">
			<h1>1</h1>
			<h3>desarrollo web</h3>
			<p>Nuestro compromiso es diseñar y desarrollar páginas web únicas y efectivas que reflejen la esencia de tu
				negocio y conecten con tu audiencia de manera impactante y funcional.</p>
		</div>
		<div class="bloque" data-aos="fade-down">
			<h1>2</h1>
			<h3>creación de sistemas informáticos</h3>
			<p>Desarrollamos sistemas a medida para potenciar la eficiencia, la escalabilidad y la efectividad en tus
				operaciones, adaptados a las necesidades específicas de tu negocio.</p>
		</div>
		<div class="bloque" data-aos="fade-down">
			<h1>3</h1>
			<h3>desarrollo móvil</h3>
			<p>Creamos experiencias móviles excepcionales, desarrollando aplicaciones intuitivas y funcionales que
				llevan tu negocio directamente a las manos de tu audiencia, ofreciendo soluciones innovadoras y
				adaptadas a la movilidad actual.</p>
		</div>
		<div class="bloque" data-aos="fade-down">
			<h1>4</h1>
			<h3>asesoramiento tecnológico</h3>
			<p>Ofrecemos asesoramiento tecnológico experto para optimizar tus estrategias, identificar soluciones
				innovadoras y potenciar tu presencia en línea, brindando orientación especializada para alcanzar tus
				objetivos con éxito en el universo digital.</p>
		</div>
	</div>
</div>