.sec-prof {
    background: url(../../../../assets/profile_bg.png) no-repeat top center;
    background-size: cover;
    position: relative;
    z-index: 10;
}

.nos {
    padding-top: 70px;
    color: #13005A;
    text-align: center;
    font-size: 45px;
    font-weight: 900;
    text-transform: uppercase;
}

.nosotros {
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}

.card-bg1,
.card-bg2,
.card-bg3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-size: contain;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 105px 0 105px 0;
}

.card {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 250px;
    height: 450px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
}

.card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 15px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 210px;
}

.card-content h2 {
    font-weight: bold;
    margin: 0;
    font-size: 24px;
}

.card-content p {
    margin: 5px 0;
    font-size: 16px;
}

.card-container .card:nth-child(2) {
    margin: 0 70px 0 70px;
}

.social-links a {
    display: inline-block;
    margin-left: 10px;
    color: #333333;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.4s ease-in-out;
}

.line {
    width: 40%;
    height: 3px;
    background-color: #333333;
    transition: background-color 0.4s ease-in-out;
}

.card:hover .card-content {
    background-color: #13005A;
}

.card:hover .social-links a,
.card:hover .card-content h2,
.card:hover .card-content p {
    color: #ffffff;
}

.card:hover .line {
    background-color: #ffffff;
}

.card-bg,
.card-content,
.social-links a,
.card-content h2,
.card-content p,
.card-content .line {
    transition-duration: 0.4s;
}

@media (max-width: 767px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card-container .card:nth-child(2) {
        margin: 70px 0 70px 0;
    }
}