<div class="sec-prof">
    <div class="nos" data-aos="fade-down" data-aos-duration="1000">
        <p>¿quiénes somos?</p>
    </div>

    <div class="nosotros container d-flex justify-content-center" data-aos="fade-down" data-aos-duration="1000">
        <p>Somos un equipo dedicado a lograr la excelencia en cada proyecto y afianzar la confianza de tu empresa en
            nosotros</p>
    </div>

    <div class="card-cont">
        <div class="card-container container">
            <div class="card" data-aos="fade-right" data-aos-duration="1000">
                <div class="card-bg1">
                    <img class="img-fluid" src="assets/miguel_salinas.jpg" alt="">
                </div>
                <div class="card-content">
                    <div class="social-links">
                        <a href="https://miguelsalinas0.github.io/" target="_blank"><i class="fa-solid fa-globe"></i></a>
                        <a href="https://www.linkedin.com/in/miguel-salinas-401848239" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </div>
                    <div class="line my-3"></div>
                    <div>
                        <h2>Miguel Salinas</h2>
                        <p>Cofounder, Desarrollador Experto. Especialista en desarrollo Web.</p>
                    </div>
                </div>
            </div>

            <div class="card" data-aos="fade-up" data-aos-duration="1000">
                <div class="card-bg2">
                    <img class="img-fluid" src="assets/yamil_saad.jpg" alt="">
                </div>
                <div class="card-content">
                    <div class="social-links">
                        <a href="https://6536d5a47b0463193a8d40e3--creative-entremet-1557dd.netlify.app/#/home" target="_blank"><i class="fa-solid fa-globe"></i></a>
                        <a href="https://www.linkedin.com/in/yamil-ezequiel-saad-frontend-flutter-23b4a263/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </div>
                    <div class="line my-3"></div>
                    <div>
                        <h2>Yamil Saad</h2>
                        <p>Cofounder, Project Manager, Desarrollador Mobile.</p>
                    </div>
                </div>
            </div>

            <div class="card" data-aos="fade-left" data-aos-duration="1000">
                <div class="card-bg3">
                    <img class="img-fluid" src="assets/adrian_zussino.jpg" alt="">
                </div>
                <div class="card-content">
                    <div class="social-links">
                        <a href="#" target="_blank"><i class="fa-solid fa-globe"></i></a>
                        <a href="https://www.linkedin.com/in/adrian-zussino-20318312/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </div>
                    <div class="line my-3"></div>
                    <div>
                        <h2>Adrian Zussino</h2>
                        <p>Cofounder, Team Leader, Especialista en sistemas informáticos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>